#main, #main .ui-content {
    height: 100%;
    overflow: hidden;
}

#main {	background-repeat: no-repeat;	background-size: 100% 100%;
}

div[data-role="panel"] .ui-navbar [class^="ui-block"] {
	width: 100%;
	padding: 10px;
}

div[data-role="panel"] .ui-navbar li:last-child .ui-btn {
	margin-right: 0;
}

.ui-field-contain>label~[class*=ui-], .ui-field-contain .ui-controlgroup-controls {
	margin: .5em 0;
}

#devices .ui-block-a, #devices .ui-block-b, #devices .ui-block-c, #devices .ui-block-d,
#choose-devices .ui-block-a, #choose-devices .ui-block-b, #choose-devices .ui-block-c, #choose-devices .ui-block-d {
	text-align: center;
}

.ui-icon-domcam {
	background-image: url("images/domcam.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}.ui-icon-domcam-2 {	background-image: url("images/domcam2.png");	background-repeat: no-repeat;	background-size: 18px 18px;}

.ui-icon-webcam {
	background-image: url("images/webcam.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.ui-icon-screen {
	background-image: url("images/screen.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}.ui-icon-screen-tv {	background-image: url("images/screenTV.png");	background-repeat: no-repeat;	background-size: 18px 18px;}

.ui-icon-micro {
	background-image: url("images/micro.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.ui-icon-mouse {
	background-image: url("images/mouse.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.ui-icon-keyboard {
	background-image: url("images/keyboard.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.ui-icon-gamepad {
	background-image: url("images/gamepad.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.img-toolbar {
	position:absolute;
	width:100%;
	height:37px;
	background-color:#ccc;
}
.ui-icon-set-background {	background-image: url("images/setToBackground.png");	background-repeat: no-repeat;	}.ui-icon-transparent {	background-image: url("images/transparent.png");	background-repeat: no-repeat;	}
.ui-mini {
	margin: 0;
}

#presets .ui-block-a, #presets .ui-block-b, #presets .ui-block-c {
	padding: 10px;
}

#presets .ui-bar .ui-controlgroup {
	float: right;
}

#presets .ui-controlgroup-controls .ui-btn-icon-notext {
	padding: 1.2em 1.2em;	
}

#presets .ui-input-text {
	width: 90%;
	float: left;
}

#devices .ui-btn-icon-notext, #choose-devices .ui-btn-icon-notext {
	width: 8em;
	height: 8em;
	margin: 10px;		background-size: auto 120px;		background-position: center; 
}

#devices .ui-btn, #choose-devices .ui-btn {
	/* background-size: auto 120px; */
}